html, body {
  padding: 0;
  margin: 0;
  font-family: "DINNextW01-Bold";
  color: rgba(0,0,0,0.5);
  font-size: 62.5%;
}

#app {
  width: 100%;
  text-align: center;
}


.button {
  height: 4rem;
  padding: 1rem 3.5rem;
  margin: 4px;
  border-radius: 8px;
  font-family: DINNextW01-Bold;
  font-size: 1.4rem;
  background-color: #F0F0F0;
  color: #231F20;
  border: none;
  cursor: pointer;
}

.button.active {
  background-color: #231F20;
  color: #fff;
}

.button.transparent {
  background-color: transparent;
}

.button.left.transparent {
  text-align: left;
}
.button.right.transparent {
  text-align: right;
}

.button.left {
  color: rgba(35,31,32,0.5);
  padding: 0;
}

.button.right {
  color: #231F20;
  padding: 0;
}

.button.active.right {
  color: white;
}

.hidden {
  display: none;
}

/* remove input[type=number] spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input[type=number] {
  -moz-appearance:textfield;
}

/* remove outline on chrome */
input:focus,
button:focus {
  outline: none;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 12rem;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 4px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -6rem;
  box-shadow: 2px 6px 15px 5px rgba(0,0,0,0.4);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1rem;
  border-width: 1rem;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* LOGO */
.icon-graphics_logo_light:before {
  font-size: 16rem !important;
  color: #fff;
  margin-top: 2.6rem !important;
  width: auto !important;
}
