html, body {
  padding: 0;
  margin: 0;
  font-family: "DINNextW01-Bold";
}

#app {
  width: 566px;
  text-align: center;
}


.button {
  height: 40px;
  padding: 10px 35px;
  margin: 4px;
  border-radius: 8px;
  font-family: DINNextW01-Bold;
  font-size: 14px;
  background-color: #F0F0F0;
  color: #231F20;
  border: none;
}

.button.active {
  background-color: #231F20;
  color: #fff;
}

.hidden {
  display: none;
}

/* remove input[type=number] spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input[type=number] {
  -moz-appearance:textfield;
}

/* remove outline on chrome */
input:focus,
button:focus {
  outline: none;
}
